* {
  box-sizing: border-box;
}
#grad{
  background-image: linear-gradient(#fff7df ,#cee7ff,#ffcd6f,#272727,#0f0f0f,#0f0f0f );
}


h1,h2,h3,h4 {
text-align: center;
color:floralwhite;
font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  margin:5vmin;
}

button {
  text-align: center;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.naslov {
  color: rgb(35, 38, 87);
}

.slika {
display: block;
  margin-left: auto;
  margin-right: auto;
min-width:auto;
}



.wide {
  display: block;
  padding: 0.1em;
  max-width: 100%;
  max-height: 90vh;
  margin: auto;
}

video{ width: 100%;
  max-height: 90vh;
padding: 3px;}
.row {
  display: flex;
  
}
.trio {
  display: block;
  margin: auto;
  max-height: 80vh;
  width: 100%;
}

.row {
  position:relative;
  text-align: center;

}

/* fcf3f6,  */
.column {
  text-align: center;
  margin: auto;
  display: block;
}

